<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

    <link rel="stylesheet" href="../../Common/css/ol.css" type="text/css">
    <link rel="stylesheet" href="../../Common/bootstrap-3.3.4/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Common/bootstrap-3.3.4/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="../../ViewGenerator/css/visorGeneratorStyle.css" type="text/css">
    <link rel="stylesheet" href="../../Common/css/bootstrap-treeview.css" type="text/css">
    <link rel="stylesheet" href="../css/visorStyle.css" type="text/css">
    <link rel="stylesheet" href="../css/printVisor.css" type="text/css">


    <script src="../../Common/js/jquery.min.js" type="text/javascript"></script>
    <script src="../../Common/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../Common/js/ol.js" type="text/javascript"></script>
    <script src="../../Common/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <script src="../../Common/js/bootstrap-treeview.js" type="text/javascript"></script>
    <script src="../../Common/pdfjs/build/pdf.js" type="text/javascript"></script>
    <script src="../../Common/Jsonix/Jsonix-all.js"></script>
    <script src="../../Common/js/configuration.js"></script>

    <script src="../../Common/html2canvas/html2canvas.js" type="text/javascript"></script>
    <script src="../../Common/canvas2Image/canvas2image.js" type="text/javascript"></script>
    <script src="../../ViewGenerator/js/Visor%20Generator/loadVisorData.js" type="text/javascript"></script>
    <script src="../../Common/js/baseLayers.js"></script>



    <script src="../../ViewGenerator/js/Map%20Functions/createMap.js" type="text/javascript"></script>
    <script src="../../ViewGenerator/js/Map%20Functions/drawArea.js" type="text/javascript"></script>
    <script src="../../ViewGenerator/js/Map%20Functions/zoomControl.js" type="text/javascript"></script>
    <script src="../../ViewGenerator/js/Map%20Functions/clickCoordinates.js" type="text/javascript"></script>
    <script src="../../ViewGenerator/js/Map%20Functions/zoomToArea.js" type="text/javascript"></script>
    <script src="../../ViewGenerator/js/Map%20Functions/panToPosition.js" type="text/javascript"></script>
    <script src="../../ViewGenerator/js/Map%20Functions/printMap.js" type="text/javascript"></script>
    <script src="../../ViewGenerator/js/Map%20Functions/toggleFullScreen.js" type="text/javascript"></script>
    <script src="../../ViewGenerator/js/Map%20Functions/retrieveData.js" type="text/javascript"></script>
    <script src="../../ViewGenerator/js/Map%20Functions/lastview.js" type="text/javascript"></script>

    <script src="../../ViewGenerator/js/Map%20Functions/export.js" type="text/javascript"></script>

    <script src="../../ViewGenerator/js/Visor%20Generator/legend.js" text="text/javascript"></script>
    <script src="../../Common/js/createLayersJSON.js"></script>


    <script>
        visorName = "{{ visorName }}";
        visorData = JSON.parse(replaceAllSubstring("{{ visorData|json_encode()}}", "&quot;", "\""));
    </script>

    <title>Dynamic HTML creation</title>

</head>
<body>
{% include "map_template.html.twig" %}

<select id="layerSelect"></select>
<select id="formatSelect">
    <option>Shapefile</option>
    <option>KML</option>
    <option>GML</option>
</select>

<style>
    table, th, td {
        border-collapse: collapse;
        font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }
    th, td {
    	border: 1px solid black;
        padding: 5px;
        text-align: left;
    }
    #info{
        max-width:420px;
        max-height: 300px;
	}

    #dataTable{
        max-width: 100%;
        max-height: inherit;
        height: 100%;
        overflow: auto;
        background:white;
        border-bottom:solid 4px #9999CC;
        border-left:solid 4px #9999CC;
        border-right:solid 4px #9999CC;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .menu5 {padding:0px; margin:0; list-style:none; height:40px; position:relative; background:transparent url(../css/images/pro_five_0c.gif) repeat-x left bottom; font-size:11px; overflow: auto;}
	.menu5 li {float:left; height:40px; margin-right:1px;}
	.menu5 li a {display:block; float:left; height:40px; line-height:35px; color:#333; text-decoration:none; font-family:arial, verdana, sans-serif; font-weight:bold; text-align:center; padding:0 0 0 4px; cursor:pointer; background:url(../css/images/pro_five_0a.gif) no-repeat;}
	.menu5 li a b {float:left; display:block; padding:0 16px 5px 12px; background:url(../css/images/pro_five_0b.gif) no-repeat right top;}
	.menu5 li.current a {color:#000; background:url(../css/images/pro_five_2a.gif) no-repeat;}
	.menu5 li.current a b {background:url(../css/images/pro_five_2b.gif) no-repeat right top;}
	.menu5 li a:hover {color:#000; background: url(../css/images/pro_five_1a.gif) no-repeat;}
	.menu5 li a:hover b {background:url(../css/images/pro_five_1b.gif) no-repeat right top;}
	.menu5 li.current a:hover {color:#000; background: url(../css/images/pro_five_2a.gif) no-repeat; cursor:default;}
	.menu5 li.current a:hover b {background:url(../css/images/pro_five_2b.gif) no-repeat right top;}

</style>

   <!-- <div id="info">
    </div>-->
    <body>


	
{% include "printModal_template.html.twig" %}

<div style="clear: both"></div>

    {% for functionBar in visorData.functionsBar %}
        <div class="functionsBar container {{functionBar.type}}" id="{{functionBar.id}}" style="top: {{ functionBar.position.top }}; left: {{ functionBar.position.left }} ;">
            {% for function in functionBar.functions %}
                <div class="functionContainer col-md-1" style="display: block; margin-top:10px;">
                    {% include "functions/"~function|lower~"_template.html.twig" %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% if visorData.legendFrame != "" %}
    {% include "legend.html.twig" %}
    <script>
        $(".legendBar").css("top", (parseInt(visorData.legendFrame.position.top, 10)-140)+"px");
        $(".legendBar").css("left", (parseInt(visorData.legendFrame.position.left, 10)+300)+"px");
    </script>
{% endif %}
{#{% include "SLD Editor/sldEditorModal_template.html.twig" %}#}



</body>
</html>

