<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../../Common/css/ol.css" type="text/css">
    <link rel="stylesheet" href="../../Common/bootstrap-3.3.4/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../Common/bootstrap-3.3.4/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="../css/visorGeneratorStyle.css" type="text/css">
    <link rel="stylesheet" href="../../Common/css/bootstrap-treeview.css" type="text/css">
    <link rel='stylesheet' href='../../Common/css/chosen.css'>

    <script src="../../Common/js/jquery.min.js" type="text/javascript"></script>
    <script src="../../Common/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../Common/js/ol.js" type="text/javascript"></script>
    <script src="../../Common/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <script src="../../Common/js/baseLayers.js"></script>
    <script src="../../Common/js/bootstrap-treeview.js" type="text/javascript"></script>
    <script src="../../Common/js/chosen.jquery.js"></script>
    <script src="../../Common/js/configuration.js"></script>

    <script src="../js/Map Functions/createMap.js" type="text/javascript"></script>

    <script src="../js/Visor Generator/toolsDraggable.js" type="text/javascript"></script>
    <script src="../js/Visor Generator/visorConfigTools.js" type="text/javascript"></script>
    <script src="../js/Visor Generator/createLayerTree.js" type="text/javascript"></script>
    <script src="../js/Visor Generator/functionDataAssigner.js" type="text/javascript"></script>
    <script src="../js/Visor Generator/saveVisor.js" type="text/javascript"></script>
    <script src="../js/Visor Generator/attachMap.js" type="text/javascript"></script>
    <script src="../js/Visor Generator/loadVisorData.js" type="text/javascript"></script>
    <script src="../js/Visor Generator/legend.js" type="text/javascript"></script>
    <script src="../js/Visor Generator/hideInterface.js" type="text/javascript"></script>

    <script>
        visorName = "{{ visorName }}";
        visorData = JSON.parse(replaceAllSubstring("{{ visorData|json_encode()}}", "&quot;", "\""));
        console.log(visorData);
    </script>
    <title>Generador de visores</title>
</head>
<body>

            <div class="col-md-12 column">
                <div class="col-md-2">
                    {% include "Visor Generator/visorgeneratorleftbar.html.twig" %}
                </div>
                <div id="toolBarMax" class="col-md-10">
                    <div class="row clearfix">
                        {% include "Visor Generator/alltools.html.twig" %}
                        <div id="mapContainer">
                            {% if visorData == "" %}
                                {% include "Visor Generator/functionBar.html.twig" %}
                                {% include "Visor Generator/legend.html.twig" %}
                            {% else %}

                                {% for functionBar in visorData.functionsBar %}
                                    <div class="functionsBar container {{functionBar.type}}" id="{{functionBar.id}}" style="top: {{ functionBar.position.top }}; left: {{ functionBar.position.left }} ;">
                                        <div class="iconFunctionBar"><div class="fixedIcon"><span class='glyphicon glyphicon-remove removeFunctionBar'></span></div></div>

                                        {% for function in functionBar.functions %}
                                            <div class="functionContainer col-md-1" style="display: block; margin-top:10px;">
                                                {% include "functions/"~function|lower~"_template.html.twig" %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if visorData.legendFrame != "" %}
                                {% include "Visor Generator/legend.html.twig" %}
                                <script>
                                    $(".legendBar").css("top", visorData.legendFrame.position.top);
                                    $(".legendBar").css("left", visorData.legendFrame.position.left);
                                </script>
                            {% endif %}
                            {% include "Visor Generator/visorgeneratormap.html.twig" %}
                        </div>

                    </div>

                </div>
            </div>
    {% include "Visor Generator/modal.html.twig" %}

</body>
</html>