<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../../Common/css/ol.css" type="text/css">
    <link rel="stylesheet" href="../../Common/bootstrap-3.3.4/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../Common/bootstrap-3.3.4/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="../css/visorGeneratorStyle.css" type="text/css">
    <link rel="stylesheet" href="../../Common/css/bootstrap-treeview.css" type="text/css">
    <link rel='stylesheet' href='../../Common/css/chosen.css'>
    <link rel="stylesheet" href="../../Common/css/jquery-ui.min.css">
    <link rel="stylesheet" href="../../Common/css/jquery-ui.structure.css">
    <link rel="stylesheet" href="../../Common/css/jquery-ui.theme.css">
    <link href="../../Common/css/fileinput.min.css" rel="stylesheet" media="screen">

	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCN6pjTCJD7fjUdhWTexgi_cnuRFu_Umt4"></script>
    <script src="../../Common/js/jquery.min.js" type="text/javascript"></script>
    <script src="../../Common/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../Common/js/ol.js" type="text/javascript"></script>
    <script src="../../Common/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <script src="../../Common/js/baseLayers.js"></script>
    <script src="../../Common/js/bootstrap-treeview.js" type="text/javascript"></script>
    <script src="../../Common/js/chosen.jquery.js"></script>
    <script src="../../Common/js/configuration.js"></script>
    <script src="../../Common/js/fileinput.min.js"></script>
	<script src="../../Common/html2canvas/html2canvas.js" type="text/javascript"></script>

    <script src="../js/Map Functions/createMap.js" type="text/javascript"></script>

    <script src="../js/Visor Generator/toolsDraggable.js" type="text/javascript"></script>
    <script src="../js/Visor Generator/visorConfigTools.js" type="text/javascript"></script>
    <script src="../js/Visor Generator/createLayerTree.js" type="text/javascript"></script>
    <script src="../js/Visor Generator/functionDataAssigner.js" type="text/javascript"></script>
    <script src="../js/Visor Generator/saveVisor.js" type="text/javascript"></script>
    <script src="../js/Visor Generator/attachMap.js" type="text/javascript"></script>
    <script src="../js/Visor Generator/loadVisorData.js" type="text/javascript"></script>
    <script src="../js/Visor Generator/legend.js" type="text/javascript"></script>
	<script src="../js/Visor Generator/hideInterface.js" type="text/javascript"></script>
	
    <script>
        visorName = "{{ visorName }}";
        visorData = JSON.parse(replaceAllSubstring("{{ visorData|json_encode()}}", "&quot;", "\""));
    </script>
    <title>Generador de visores</title>
</head>
<body>

            <div class="col-md-12 wrapper">
                    {% include "Visor Generator/visorgeneratorleftbar.html.twig" %}
                <div id="toolBarMax">
                    <div class="row clearfix">
                        {% include "Visor Generator/alltools.html.twig" %}
						<div id="mapContainer">
                            {% include "Visor Generator/visorgeneratormap.html.twig" %}

                            {% if visorData == "" %}
                                {% include "Visor Generator/functionBar.html.twig" %}
                                {% include "Visor Generator/legend.html.twig" %}
                            {% else %}
                            {% for functionBar in visorData.functionsBar %}
                                <div class="functionsBar container {{functionBar.type}}" id="{{functionBar.id}}">
                                    <div class="{{functionBar.type}}iconFunctionBar"><span class='glyphicon glyphicon-remove removeFunctionBar'></span></div>

                                    {% for function in functionBar.functions %}
                                        <div class="functionContainer col-md-1" style="display: block; margin-top:10px;">
                                            {% include "functions/"~function|lower~"_template.html.twig" %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            {% endif %}
                            {% if visorData.legendFrame != "" %}
                                {% include "Visor Generator/legend.html.twig" %}
                            {% endif %}
                        </div>
                    </div>



                </div>
            </div>
    {% include "Visor Generator/modal.html.twig" %}

</body>
</html>